<th:block th:replace="~{/layout/basic:: setContent(~{this:: content})}">
  <th:block th:fragment="content">
    <style>
      #c1,#c2 { padding: 30px; margin: 10px;}
      #c1{ display: inline-block; background: lightseagreen}
      #c2{ display: inline-block; background: lightcoral}
    </style>
    <ul id="c1">
      <li>c1..............</li>
      <li>c1..............</li>
      <li>c1..............</li>
      <li>c1..............</li>
    </ul>

    <ul id="c2">
      <li>c2..............</li>
      <li>c2..............</li>
      <li>c2..............</li>
      <li>c2..............</li>
    </ul>
  </th:block>
</th:block>