<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic:: setContent(~{this:: content})}">
  <th:block th:fragment="content">
    <h1 class="mt-4">게시글 등록하기</h1>
    <form th:action="@{/guestbook/register}" th:method="POST">
      <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" name="title" placeholder="제목을 입력해주세요">
      </div>
      <div class="form-group">
        <label>Content</label>
        <textarea type="text" class="form-control" name="content" rows="5"></textarea>
      </div>
      <div class="form-group">
        <label>Writer</label>
        <input type="text" class="form-control" name="writer" placeholder="작성자를 입력해주세요">
      </div>
      <button type="submit" class="btn btn-primary">작성완료</button>
    </form>
  </th:block>
</th:block>